<table id="tablePartesPrincipais" style="margin-left:15px; margin-top:1px;" align="center" border="0" cellpadding="0"
  cellspacing="0" width="98%">
  <tbody>
    <tr class="fundoClaro">
      <td valign="top" align="right" width="141" style="padding-bottom: 5px">
        <span class="mensagemExibindo">Requerente:&nbsp;</span>
      </td>
      <td width="*" align="left" style="padding-bottom: 5px">
        Vanusa Maria da Conceição
        <br>
        <span class="mensagemExibindo">Advogado:&nbsp;</span>
        Dr. Sebastião Bezerra Leite&nbsp;
      </td>
    </tr>
  </tbody>
</table>