use Mix.Config

# Configure your database
config :crawler_jus, CrawlerJus.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: System.get_env("DB_USER"),
  password: System.get_env("DB_PASSWORD"),
  database: "crawler_jus_dev",
  hostname: System.get_env("DB_HOSTNAME"),
  pool_size: 10

config :redix,
  redis_url: "redis://localhost:6379"
