.moviment-wrapper {
  .moviment-details {
    .moviment-detail-wrapper {
      padding-bottom: 20px;
      margin-top: 20px;
      border-bottom: 1px solid #000;

      .moviment-data {
        font-size: 14px;
      }

      .moviment-log {
        font-size: 18px;
      }
    }
  }
}
